[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=latest
X-AppImage-Name=App Name
Name=App name
Exec =AppRun
Icon= appname
Type=Application
Terminal=false
Categories=Utility;
Comment=